---
---

// Import the initial variables
@import "utilities/initial-variables";
@import "utilities/functions";

$primary: hsl(191, 75%, 41%);
$primary-invert: findColorInvert($primary);

$info: hsl(171, 100%, 41%);
$info-invert: findColorInvert($info);

// Links
$link: hsl(190, 55%, 50%);
$link-invert: $primary-invert;
// $link-focus-border: $info;

$title-weight: $weight-normal;
$subtitle-weight: $weight-light;

@import "bulma";

body, html {
  width: 100%;
  overflow-x: hidden;
}
.subtitle {
  letter-spacing: 1.5px;
}
.hero.is-relative,
.section.is-relative {
  position: relative;
  z-index: 5;
}
.hero.is-relative .hero-body {
  position: relative;
  z-index: 15;
}
.hero.is-fullheight {
  min-height: 80vh!important;
}
.hero .columns,
.section .columns {
  align-items: center;
  justify-content: center;
}
.hero-footer {
  position: absolute;
  bottom: -60px;
}
.navbar {
  position: relative;
  z-index: 10;
}
.section.is-grey, .hero-foot.is-grey {
  background-color: hsl(0, 0%, 96%);
}
.hero-foot {
  color: #000;
  padding: 2rem;
}
.is-bottom .column {
  margin-top: auto;
}
.level-item img {
  max-height: 2.5rem;
  margin-right: 2rem;
  display: inline-block;
  margin: 0 auto;
}
a.level-item.is-active {
  font-weight: bolder;
}
nav.level {
  padding: 1rem;
}
.canvas-container {
  position: absolute;
  top: -350px;
  left: 50%;
  width: 950px;
  height: 600px;
  transform: rotate(-20deg);
  overflow: hidden;
  border-radius: 30px;
  z-index: -20;
}
canvas {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -5;
}
.background-circle {
  width: 400px;
  height: 400px;
  background-color: #f3f3f3;
  border-radius: 50%;
  position: absolute;
  left: -120px;
  top: 50%;
  z-index: -20;
}
.arrow-down {
  width: 0;
  height: 0;
  border-left: 320px solid transparent;
  border-right: 320px solid transparent;
  transform: rotate(40deg);
  border-top: 420px solid #f3f3f3;
}
.background-arrow {
  position: absolute;
  right: -90px;
  z-index: -20;
}
.background-square {
  position: absolute;
  left: -500px;
  bottom: -50px;
  z-index: -20;
  width: 950px;
  height: 600px;
  transform: rotate(-20deg);
  background-color: #f3f3f3;
  border-radius: 30px;
}
.background-square.is-hidden-desktop {
  background-color: hsl(191, 75%, 41%);
  top: -50px;
  left: 50%;
}
.is-top {
  z-index: 10;
}
.is-size-5.has-text-weight-light {
  line-height: 1.5rem;
  letter-spacing: 2px;
}
.mockup-image-container {
  position: relative;
  left: 0;
  width: 100%;
}
.mockup-main {
  width: 750px;
  max-width: 100%;
  z-index: 10;
}
.mockup-left {
  width: 500px;
  position: absolute!important;
  bottom: 50px;
  left: 0;
  // transform: translateY(-10px);
}
.mockup-right {
  width: 500px;
  position: absolute!important;
  bottom: 50px;
  right: 0;
}
/* Browser mockup code
 */
.browser-mockup {
  border-top: 1.75em solid rgba(230, 230, 230, 0.7);
  box-shadow: 0 0.1em 1em 0 rgba(0, 0, 0, 0.4);
  position: relative;
  border-radius: 3px 3px 0 0
}
.browser-mockup:before {
  display: block;
  position: absolute;
  content: '';
  top: -1em;
  left: 1em;
  width: 0.3em;
  height: 0.3em;
  border-radius: 50%;
  background-color: #f44;
  box-shadow: 0 0 0 2px #f44, 1.5em 0 0 2px #9b3, 3em 0 0 2px #fb5;
}
.browser-mockup > * {
  display: block;
}
.browser-mockup {
  flex: 1;
}
.browser-mockup img {
  width: 100%;
}
.divider {
  width: 60px;
  margin: 2rem auto 4rem auto;
  border-bottom: 2px solid hsl(191, 75%, 41%);
}
.columns.is-8 {
  margin-bottom: 12rem;
}
@media (max-width: 768px) {
  .columns.is-8 {
    margin-bottom: 6rem;
  }
}
