---
layout: default
---
	<section class="hero is-primary is-bold is-fullheight is-relative is-top">
		<!--<div class="background-square"></div>-->
		<!--<div class="box canvas-container hero is-info is-bold"></div>-->
		<div class="hero-head">
			{% include nav.html %}
		</div>
		<div class="hero-body container">
			<div class="columns has-padding">
				<div class="column is-9">
					<div class="content has-text-centered">
						<h1 class="title is-1">
							The new classroom for the 21st century
						</h1>
						<h2 class="subtitle is-5 has-text-weight-light">
							Acdmy.io is the best platform to enable teaching and learning today. Utilizing cutting edge technology, it is the only solution built by educators, for educators.
						</h2>
						<a class="button is-info" href="https://www.getrevue.co/profile/acdmy" target="_blank">
							<span>Get Early Access</span>
						</a>
						<br class="is-hidden-touch" />
						<br class="is-hidden-touch" />
						<br class="is-hidden-touch" />
						<br class="is-hidden-touch" />
						<br class="is-hidden-touch" />
						<br class="is-hidden-touch" />
						<br class="is-hidden-touch" />
						<br class="is-hidden-touch" />
						<br class="is-hidden-touch" />
					</div>
				</div>
				<!--<div class="column is-3">-->
					<!--<div class="browser-mockup">-->
					<!--  <img src="{{ site.baseurl }}/img/freeform.png" />-->
					<!--</div>-->
				<!--</div>-->
			</div>
		</div>
		<div class="hero-foot is-hidden-desktop">
			<div class="columns">
				<div class="column is-5">
					<img src="{{ site.baseurl }}/img/undraw_data.svg" />
				</div>
				<div class="column is-1 is-hidden-mobile"></div>
				<div class="column is-3 is-hidden-mobile">
					<img src="{{ site.baseurl }}/img/undraw_processing.svg" />
				</div>
			</div>
		</div>
		<div class="hero-footer container is-fluid is-hidden-touch">
			<div class="columns is-centered is-bottom">
				
				
				<div class="column is-4">
					<img src="{{ site.baseurl }}/img/undraw_processing.svg" />
				</div>
				<div class="column is-1"></div>
				<!--<div class="column is-1">-->
				<!--	<img src="{{ site.baseurl }}/img/undraw_segment.svg" />-->
				<!--</div>-->
				<div class="column is-3">
					<img src="{{ site.baseurl }}/img/undraw_data.svg" />
				</div>
				<div class="column is-3">
					<img src="{{ site.baseurl }}/img/undraw_checklist.svg" />
				</div>
			</div>
		</div>
		<canvas id="myCanvas" resize></canvas>
	</section>
	
	<section class="section is-medium is-relative">
		<br />
		<div class="container has-text-centered">
			<h2 class="title">It's time to rethink what a classroom is.</h2>
		    <h3 class="subtitle">
		    	Acdmy.io is reimagining what a classroom would be if it were created for the first time today.
		    </h3>
			<hr class="divider" />
			<div class="mockup-image-container has-text-centered">
				<div class="browser-mockup mockup-left is-hidden-mobile">
					<img src="img/videobar.png" />
				</div>
				<div class="browser-mockup is-inline-block mockup-main">
					<img src="img/groups.png" />
				</div>
				<div class="browser-mockup mockup-right is-hidden-mobile">
					<img src="img/splitscreen.png" />
				</div>
			</div>
			<!-- <div class="browser-mockup">
			  <img src="{{ site.baseurl }}/img/freeform.png" />
			</div> -->
		</div>
		<div class="background-arrow arrow-down"></div>
  </section>
	<section class="section is-medium is-relative">
		<div class="background-circle"></div>
		<div class="container">
      <h2 class="title has-text-centered">
        Features students and teachers want.
      </h2>
      <h3 class="subtitle has-text-centered">
        Built from the ground up to improve teaching and learning.
      </h3>
			<hr class="divider" />
			<div class="columns is-multiline is-8 is-variable">
				<div class="column has-text-centered-mobile">
					<p class="subtitle is-3">The power to teach.</p>
					<div class="content">
						<p>
							Want to do a think-pair-share? How about a class debate? Did someone say small groups? Unlike other products on the market, Acdmy.io was built exclusively for teaching and learning. It has built in learning activities based on the latest research from the science of learning and teaching. You can quickly and easily plan out or use various learning activities, or plan an entire session before you start and not have to think about what is coming next.
						</p>
					</div>
				</div>
				<div class="column is-5 is-hidden-mobile">
					<img src="{{ site.baseurl }}/img/undraw_collaboration2.svg" />
				</div>
			</div>
			<div class="columns is-multiline is-8 is-variable">
				<div class="column is-5 is-hidden-mobile">
					<img src="{{ site.baseurl }}/img/undraw_browser_stats.svg" />
				</div>
				<div class="column has-text-centered-mobile">
					<p class="subtitle is-3">Smart technology.</p>
					<p>Acdmy.io utilizes cutting edge technology to deliver the best teaching and learning experience. From recording and reviewing student behaviors to dynamically monitoring student engagement, Acdmy.io helps you teach and learn smarter.</p>
				</div>
			</div>
			<div class="columns is-multiline is-8 is-variable">
				<div class="column has-text-centered-mobile">
					<p class="subtitle is-3">Options for any situation.</p>
					<div>
						<p>
							Teaching and learning are messy. Acdmy.io recognizes the classroom shouldn't dictate how a course is tought. It is designed to give options and get out of the way. For example, in Acdmy.io you can:
						</p>
						<br />
						<article class="media">
							<figure class="media-left">
								<span class="icon has-text-primary">
									<i class="fa fa-cloud-upload" aria-hidden="true"></i>
								</span>
							</figure>
							<div class="media-content">
								<p>
									Present or collaborate on any type of file from you computer or the web.
								</p>
							</div>
						</article>
						<article class="media">
							<figure class="media-left">
								<span class="icon has-text-primary">
									<i class="fa fa-video-camera" aria-hidden="true"></i>
								</span>
							</figure>
							<div class="media-content">
								<p>
									View all participants on one screen.
								</p>
							</div>
						</article>
						<article class="media">
							<figure class="media-left">
								<span class="icon has-text-primary">
									<i class="fa fa-users" aria-hidden="true"></i>
								</span>
							</figure>
							<div class="media-content">
								<p>
									Utilize small groups and monitor each progress simultaneously.
								</p>
							</div>
						</article>
						<article class="media">
							<figure class="media-left">
								<span class="icon has-text-primary">
									<i class="fa fa-pencil" aria-hidden="true"></i>
								</span>
							</figure>
							<div class="media-content">
								<p>
									Work on a document together in real time.
								</p>
							</div>
						</article>
						<article class="media">
							<figure class="media-left">
								<span class="icon has-text-primary">
									<i class="fa fa-toggle-on" aria-hidden="true"></i>
								</span>
							</figure>
							<div class="media-content">
								<p>
									Feature different videos, quotes, documents, poll responses, or any other feature on the fly.
								</p>
							</div>
						</article>
					</div>
				</div>
				<div class="column is-5 is-hidden-mobile">
					<img src="{{ site.baseurl }}/img/undraw_filter.svg" />
				</div>
			</div>
			<div class="columns is-multiline is-8 is-variable">
				<div class="column is-5 is-hidden-mobile">
					<img src="{{ site.baseurl }}/img/undraw_setup.svg" />
				</div>
				<div class="column has-text-centered-mobile">
					<p class="subtitle is-3">Fast, Easy, and Reliable.</p>
					<p>Acdmy.io uses the latest browser-based technology including WebRTC, scalable video coding, and virtual DOM to create a fast, reliable, and high quality experience within any modern web browser. No downloads, plugins, or installs required and no flash.</p>
				</div>
			</div>
		</div>
	</section>
	<section class="hero is-relative is-info is-bold is-medium">
	  <div class="hero-body">
	    <div class="container has-text-centered">
	      <h2 class="title">
	        Acdmy.io is coming soon!
	      </h2>
	      <h3 class="subtitle">
	        Sign up now to be one of the first to get access.
	      </h3>
				<a class="button is-light is-outlined" href="https://www.getrevue.co/profile/acdmy" target="_blank">
					<span>Get Early Access</span>
				</a>
	    </div>
	  </div>
	</section>
