<footer class="footer">
  <div class="container">
    <div class="level">
      <div class="level-left">
        <a href="{{ site.baseurl }}/" class="level-item">
          <img src="{{ site.baseurl }}/img/acdmy-01.png" alt="Logo">
        </a>
         <a class="level-item" href="{{ site.baseurl }}/privacy">
          Privacy Policy
        </a>
        <a class="level-item" href="{{ site.baseurl }}/terms">
          Terms
        </a>
      </div>
      <div class="level-right">
        <div class="level-item">
          <a href="https://angel.co/acdmy-io" target="_blank">
            <span class="icon">
              <i class="fa fa-angellist" aria-hidden="true"></i>
            </span>
          </a>
          <a href="mailto:hello@dwthurber.com">
            <span class="icon">
              <i class="fa fa-envelope" aria-hidden="true"></i>
            </span>
          </a>
        </div>
      </div>
    </div>
    <p class="is-size-7 has-text-centered-mobile">&copy; Acdmy.io. All Rights Reserved.</p>
  </div>
</footer>
