<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Acdmy.io | Classroom for the 21st Century</title>
	<meta name="description" content="Acdmy.io is a realtime online learning platform designed for education. It incorporates realtime collaboration tools such as video, audio, chat, whiteboards, polls, and documents as well as file sharing and screen sharing to allow groups of students and instructors to meet and teach online seamlessly." />
  <meta name="keywords" content="webrtc web-conferencing e-learning video learning synchronous class classroom edtech education technology teaching" />
  <meta name="author" content="Derek Thurber" />
	<link rel="apple-touch-icon" sizes="57x57" href="{{ site.baseurl }}/img/favicon/apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="{{ site.baseurl }}/img/favicon/apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="{{ site.baseurl }}/img/favicon/apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="{{ site.baseurl }}/img/favicon/apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="{{ site.baseurl }}/img/favicon/apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="{{ site.baseurl }}/img/favicon/apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="{{ site.baseurl }}/img/favicon/apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="{{ site.baseurl }}/img/favicon/apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="{{ site.baseurl }}/img/favicon/apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="192x192"  href="{{ site.baseurl }}/img/favicon/android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="{{ site.baseurl }}/img/favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="{{ site.baseurl }}/img/favicon/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="{{ site.baseurl }}/img/favicon/favicon-16x16.png">
	<link rel="manifest" href="manifest.json">
	<meta name="msapplication-TileColor" content="hsl(191, 75%, 41%)">
	<meta name="msapplication-TileImage" content="{{ site.baseurl }}/img/favicon/ms-icon-144x144.png">
	<meta name="theme-color" content="hsl(191, 75%, 41%)">
	<link rel="stylesheet" href="{{ site.baseurl }}/css/styles.css"> <!-- Client style -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<script src="https://unpkg.com/vue"></script> <!-- vue.js -->
  <!-- Load the Paper.js library -->
  <script type="text/javascript" src="{{ site.baseurl }}/js/paper-full.min.js"></script>
  <!-- Load external PaperScript and associate it with myCanvas -->
  <script type="text/paperscript" src="{{ site.baseurl }}/js/paper.js" canvas="myCanvas"></script>
</head>
