<div class="container">
  <nav class="level">
    <div class="level-left is-hidden-mobile">
      <a href="{{ site.baseurl }}/" class="level-item">
        <img src="{{ site.baseurl }}/img/acdmy-02.png" alt="Logo">
      </a>
    </div>
    <div class="level-right is-hidden-mobile">
      <span class="level-item">
        <a class="has-text-light" href="https://app.acdmy.io" target="_blank">
          <span>Login</span>
        </a>
      </span>
      <span class="level-item">
        <a class="button is-info is-outlined" href="https://www.getrevue.co/profile/acdmy" target="_blank">
          <span>Get Early Access</span>
        </a>
      </span>
    </div>
    <div class="level-item is-hidden-tablet">
      <img src="{{ site.baseurl }}/img/acdmy-02.png" alt="Logo">
    </div>
  </nav>
</div>
