---
layout: default
---
	<section class="hero is-relative is-medium is-top">
		<div class="background-square"></div>
		<div class="box canvas-container hero is-primary is-bold"></div>
		<div class="hero-head container">
			<nav class="level">
		    <div class="level-left is-hidden-mobile">
		      <a href="/" class="level-item">
		        <img src="{{ site.baseurl }}/img/acdmy-01.png" alt="Logo">
		      </a>
		    </div>
		    <div class="level-right is-hidden-mobile">
		      
		    </div>
		    <div class="level-item is-hidden-tablet">
		      <img src="{{ site.baseurl }}/img/acdmy-01.png" alt="Logo">
		    </div>
		  </nav>
		</div>
		<div class="hero-body container">
			<div class="content has-text-centered-mobile">
				<h1 class="title is-1">
					Privacy Policy
				</h1>
			</div>
		</div>
	</section>
	
	<section class="section is-medium is-relative">
		<div class="container content">
			<h3 class="title">
				The Short, No-Nonsense Version
			</h3>
			<p>
				Acdmy.io takes privacy seriously and does not beleive it should be complicated to understand where and how your data is used. Acdmy.io collects identifiable and non-identifiable information about its users for the use within Acdmy.io products. Acdmy.io never uses, sells, or shares information about its users with anyone for any reason. Ed Tech companies should be held to high standard for protecting the privacy of those who use their product. If you feel Acdmy.io could do better at securing your privacy or the privacy of your students, please contact us. 
			</p>
			<h3 class="title">
				The Long, Legal-Compliance Version
			</h3>
			<p>This Privacy Policy governs the manner in which Acdmy.io collects, uses, maintains and discloses information collected from users (each, a “User”) of the collaborate.acdmy.io website (“Site”). This privacy policy applies to the Site and all products and services offered by Acdmy.io.</p>
			<h4 class="subtitle">Personal identification information</h4>
			<p>We may collect personal identification information from Users in a variety of ways, including, but not limited to, when Users visit our site, signup for an account, join an exisiting room as a guest, and in connection with other activities, services, features or resources we make available on our Site. Users may be asked for, as appropriate, name, email address, phone number. We will collect personal identification information from Users only if they voluntarily submit such information to us. Users can always refuse to supply personally identification information, except that it may prevent them from engaging in certain Site related activities.</p>
			<h4 class="subtitle">Non-personal identification information</h4>
			<p>We may collect non-personal identification information about Users whenever they interact with our Site. Non-personal identification information may include the browser name, the type of computer and technical information about Users means of connection to our Site, such as the operating system and the Internet service providers utilized and other similar information.</p>
			<h4 class="subtitle">Web browser cookies</h4>
			<p>Our Site may use “cookies” to enhance User experience. User’s web browser places cookies on their hard drive for record-keeping purposes and sometimes to track information about them. User may choose to set their web browser to refuse cookies, or to alert you when cookies are being sent. If they do so, note that some parts of the Site may not function properly.</p>
			<h4 class="subtitle">How we use collected information</h4>
			<p>Acdmy.io may collect and use Users personal information for the following purposes:</p>
			<ul>
			<li><strong>To improve customer service</strong><br>
			Information you provide helps us respond to your customer service requests and support needs more efficiently.</li>
			<li><strong>To improve our Site</strong><br>
			We may use feedback you provide to improve our products and services.</li>
			<li><strong>To send periodic emails</strong><br>
			We may use the email address to send User notifications of activity within Acdmy.io products for which that User is a part. It may also be used to respond to their inquiries, questions, and/or other requests. If User decides to opt-in to our mailing list, they will receive emails that may include company news, updates, related product or service information, etc. If at any time the User would like to unsubscribe from receiving future emails, we include detailed unsubscribe instructions at the bottom of each email.</li>
			</ul>
			<h4 class="subtitle">How we protect your information</h4>
			<p>We adopt appropriate data collection, storage and processing practices and security measures to protect against unauthorized access, alteration, disclosure or destruction of your personal information, username, password, transaction information and data stored on our Site.</p>
			<h4 class="subtitle">Sharing your personal information</h4>
			<p>We do not sell, trade, or rent Users personal identification information to others. We may use third party service providers to help us operate our business and the Site or administer activities on our behalf, such as sending out newsletters or surveys. We may share your information with these third parties for those limited purposes provided that you have given us your permission.</p>
			<h4 class="subtitle">Third party websites</h4>
			<p>Users may share content on our Site that link to the sites and services of our partners, suppliers, advertisers, sponsors, licensors and other third parties. We do not control the content or links that appear on these sites and are not responsible for the practices employed by websites linked to or from our Site. In addition, these sites or services, including their content and links, may be constantly changing. These sites and services may have their own privacy policies and customer service policies. Browsing and interaction on any other website, including websites which have a link to our Site, is subject to that website’s own terms and policies.</p>
			<h4 class="subtitle">Changes to this privacy policy</h4>
			<p>Acdmy.io has the discretion to update this privacy policy at any time. When we do, we will revise the updated date at the bottom of this page. We encourage Users to frequently check this page for any changes to stay informed about how we are helping to protect the personal information we collect. You acknowledge and agree that it is your responsibility to review this privacy policy periodically and become aware of modifications.</p>
			<h4 class="subtitle">Your acceptance of these terms</h4>
			<p>By using this Site, you signify your acceptance of this policy. If you do not agree to this policy, please do not use our Site. Your continued use of the Site following the posting of changes to this policy will be deemed your acceptance of those changes.</p>
			<h4 class="subtitle">Contacting us</h4>
			<p>If you have any questions about this Privacy Policy, the practices of this site, or your dealings with this site, please contact us at:</p>
			<p>Updated: 1/26/2017</p>
		</div>
		<div class="background-arrow arrow-down"></div>
  </section>
	
	<section class="hero is-relative is-info is-bold is-medium">
	  <div class="hero-body">
	    <div class="container has-text-centered">
	      <h2 class="title">
	        Acdmy.io is coming soon!
	      </h2>
	      <h3 class="subtitle">
	        Sign up now to be one of the first to get access.
	      </h3>
				<a class="button is-light is-outlined" href="https://www.getrevue.co/profile/acdmy" target="_blank">
					<span>Get Early Access</span>
				</a>
	    </div>
	  </div>
	</section>
