<!doctype html>
<html lang="en">
  {% include head.html %}
<body>
  <div id="app">
    {{ content }}
    {% include footer.html %}
  </div>
  <script src="{{ site.baseurl }}/js/main.js"></script> <!-- Resource jQuery -->
  <script>
  	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  	})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  	ga('create', 'UA-66562635-3', 'auto');
  	ga('send', 'pageview');

  </script> <!--Google analytics -->
  <script>
    (function (w,i,d,g,e,t,s) {w[d] = w[d]||[];t= i.createElement(g);
      t.async=1;t.src=e;s=i.getElementsByTagName(g)[0];s.parentNode.insertBefore(t, s);
    })(window, document, '_gscq','script','//widgets.getsitecontrol.com/122078/script.js');
  </script>
</body>
</html>
