---
layout: default
---
	<section class="hero is-relative is-medium is-top">
		<div class="background-square"></div>
		<div class="box canvas-container hero is-primary is-bold"></div>
		<div class="hero-head container">
			<nav class="level">
		    <div class="level-left is-hidden-mobile">
		      <a href="/" class="level-item">
		        <img src="{{ site.baseurl }}/img/acdmy-01.png" alt="Logo">
		      </a>
		    </div>
		    <div class="level-right is-hidden-mobile">
		      
		    </div>
		    <div class="level-item is-hidden-tablet">
		      <img src="{{ site.baseurl }}/img/acdmy-01.png" alt="Logo">
		    </div>
		  </nav>
		</div>
		<div class="hero-body container">
			<div class="content has-text-centered-mobile">
				<h1 class="title is-1">
					Terms of Use
				</h1>
			</div>
		</div>
	</section>
	
	<section class="section is-medium is-relative">
		<div class="container content">
			<h3 class="subtitle">1. Terms</h3>
			<p>By accessing the website at <a href="http://collaborate.acdmy.io">http://collaborate.acdmy.io</a>, you are agreeing to be bound by these terms of service, all applicable laws and regulations, and agree that you are responsible for compliance with any applicable local laws. If you do not agree with any of these terms, you are prohibited from using or accessing this site. The materials contained in this website are protected by applicable copyright and trademark law.</p>
			<h3 class="subtitle">2. Use License</h3>
			<ol type="a">
			   <li>Permission is granted to temporarily download one copy of the materials (information or software) on Acdmy.io's website for personal, non-commercial transitory viewing only. This is the grant of a license, not a transfer of title, and under this license you may not:
			   <ol type="i">
			       <li>modify or copy the materials;</li>
			       <li>use the materials for any commercial purpose, or for any public display (commercial or non-commercial);</li>
			       <li>attempt to decompile or reverse engineer any software contained on Acdmy.io's website;</li>
			       <li>remove any copyright or other proprietary notations from the materials; or</li>
			       <li>transfer the materials to another person or "mirror" the materials on any other server.</li>
			   </ol>
			    </li>
			   <li>This license shall automatically terminate if you violate any of these restrictions and may be terminated by Acdmy.io at any time. Upon terminating your viewing of these materials or upon the termination of this license, you must destroy any downloaded materials in your possession whether in electronic or printed format.</li>
			</ol>
			<h3 class="subtitle">3. Disclaimer</h3>
			<ol type="a">
			   <li>The materials on Acdmy.io's website are provided on an 'as is' basis. Acdmy.io makes no warranties, expressed or implied, and hereby disclaims and negates all other warranties including, without limitation, implied warranties or conditions of merchantability, fitness for a particular purpose, or non-infringement of intellectual property or other violation of rights.</li>
			   <li>Further, Acdmy.io does not warrant or make any representations concerning the accuracy, likely results, or reliability of the use of the materials on its website or otherwise relating to such materials or on any sites linked to this site.</li>
			</ol>
			<h3 class="subtitle">4. Limitations</h3>
			<p>In no event shall Acdmy.io or its suppliers be liable for any damages (including, without limitation, damages for loss of data or profit, or due to business interruption) arising out of the use or inability to use the materials on Acdmy.io's website, even if Acdmy.io or a Acdmy.io authorized representative has been notified orally or in writing of the possibility of such damage. Because some jurisdictions do not allow limitations on implied warranties, or limitations of liability for consequential or incidental damages, these limitations may not apply to you.</p>
			<h3 class="subtitle">5. Accuracy of materials</h3>
			<p>The materials appearing on Acdmy.io website could include technical, typographical, or photographic errors. Acdmy.io does not warrant that any of the materials on its website are accurate, complete or current. Acdmy.io may make changes to the materials contained on its website at any time without notice. However Acdmy.io does not make any commitment to update the materials.</p>
			<h3 class="subtitle">6. Links</h3>
			<p>Acdmy.io has not reviewed all of the sites linked to its website and is not responsible for the contents of any such linked site. The inclusion of any link does not imply endorsement by Acdmy.io of the site. Use of any such linked website is at the user's own risk.</p>
			<h3 class="subtitle">7. Modifications</h3>
			<p>Acdmy.io may revise these terms of service for its website at any time without notice. By using this website you are agreeing to be bound by the then current version of these terms of service.</p>
			<h3 class="subtitle">8. Governing Law</h3>
			<p>These terms and conditions are governed by and construed in accordance with the laws of Illinois and you irrevocably submit to the exclusive jurisdiction of the courts in that State or location.</p>

			<p>Updated: 1/26/2017</p>
		</div>
		<div class="background-arrow arrow-down"></div>
  </section>
	
	<section class="hero is-relative is-info is-bold is-medium">
	  <div class="hero-body">
	    <div class="container has-text-centered">
	      <h2 class="title">
	        Acdmy.io is coming soon!
	      </h2>
	      <h3 class="subtitle">
	        Sign up now to be one of the first to get access.
	      </h3>
				<a class="button is-light is-outlined" href="https://www.getrevue.co/profile/acdmy" target="_blank">
					<span>Get Early Access</span>
				</a>
	    </div>
	  </div>
	</section>
